.tagContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagsListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tagItemContainer {
        text-align: center;
        text-justify: auto;
    }
}