$main-color: #ffd000;

header {
    background: $main-color;
};

.main {
    margin: 0 auto;
    max-Width: 960px;
    padding: 1.45rem 1.0875rem;
    display: flex;
    justify-content: center;
    align-content: center;

    h1 {
      text-align: center;
    }
  };

  .link {
    color: #000;
    text-decoration: none;
  }

 