.mainPageContainer {
    display: grid;
    grid-template-columns: 66.6% 33.3%;
    height: 100%;

    .mainColumn {
        background-color: lightblue;
    }

    .helpColumn {
        background-color: lightcoral;
    }
}